:root{
    --title-bg-color: #727262;
    --title-bg-color-chosen: #d3d3ba;
    --title-border: 1px solid #000000;
    --title-border-chosen: 1px solid #d3d3ba;
}

body{
    background-color: #66665e;
}

.table-title{
    display: inline-block;
    background-color: var(--title-bg-color);
    padding: 15px 10px;
    border: var(--title-border);
}

.table-title:hover{
    background-color: var(--title-bg-color-chosen);
}

.table-title-chosen{
    border: var(--title-border-chosen);
    background-color: var(--title-bg-color-chosen);
}

#selected-form{
    margin: 15xp;
    padding: 15px;
    border: var(--title-border);
}

.input-margin{
    margin-left: 10px;
}